.password-img{
    cursor: pointer;
    height: 19px;
    width: 19px;
    position: absolute;
    margin: auto 18px;
}

.password-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.custom-button{
    background-color: #198754;
    border:none;
    font-weight: 600;
}

