

.header-container{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

.custom-nav-class{
    z-index:10;
    position: absolute;
    width:100%;
    padding: 30px 90px;
}

.user-icon{
    cursor: pointer;
    margin: 0px;
}

.logout-icon{
    margin-left: 5px;
}
.background-div{
    background-color:transparent;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 35px;
    height: 33px;
    width: 33px;
}

.profile-card{
    background-color: gainsboro;
    padding: 22px 15px 0px 15px;
    z-index: 11;
    position: absolute;
    align-self: flex-end;
    justify-self: flex-end;
    margin: 81px 82px;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
}

.profile-card ul{
    margin: 0;
}

.profile-card ul li{
    margin-bottom: 7px;
}
.profile-card .item:hover{
font-weight: 600;
}

.background-div:hover{
background-color: #198754;
}

.custom-item {
    color: white;
    text-decoration: none;
    margin: 0px 20px;
    white-space: nowrap;
   
      
}

.header-right{
    display:flex;
   justify-content: space-between;
}

.header-right ul li{
    margin:0;
    padding: 0;
}
  
  .custom-item:hover {
    background-color: #f42b03;
    background-image: linear-gradient(316deg, #f42b03 0%, #ffbe0b 74%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    transition: background-color 0.3s; /* Optional: Add transition for a smooth effect */
}

.custom-title{
    font-weight: 500;
    color: 	#198754;
    margin: 0px 0px 0px 35px;
}

.custom-title:hover{
    color:white;
}


.custom-background{
    background-color: 	#198754;
    font-weight: 500;
    color: black;
}

.custom-background:hover{
    background-color: #085125;
    color: white;
}